<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/dash.css' %}">
    <title>DashBoard</title>
</head>
<body>
    <div class="container">
        <h1>The DashBoard</h1>
        <a href="{% url 'download_csv' %}">Download as CSV</a>
        <ul>
        {% for referral in refs %}
            <li>{{referral.sender}},{{referral.name}},{{referral.phone}},{{referral.urgency}},{{referral.date}}</li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
